tibco/Schemas/Office365ErrorResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/tibco/Schemas/Office365ErrorResponse.xsd2"
	 targetNamespace="http://www.tibco.com/schemas/tibco/Schemas/Office365ErrorResponse.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="error"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="error">
		<xs:complexType>
			<xs:attribute name="message" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>